@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Gilda+Display&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');




*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}
body{
  font-family: Montserrat;  
}
button {
    width: 135px;
    height: 48px;
    border: 1px solid #FFFFFF;
    background: linear-gradient(251.96deg, #BB2339 -20.95%, #BB2339 110.78%);
    border-radius: 100px;
    font-weight: 500;
    font-size: 17px;
    color: #FFFFFFE5;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: linear-gradient(251.96deg, #470711 -20.95%, #BB2339 110.78%);
    transition: all 0.5s ease;
    z-index: -1;
    border-radius: 100px;
}
button:hover {
    color: #470711;
    border-color: transparent;
}
button:hover::before {
    width: 100%;
}


.header{
    background: #BB2339;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 103px;
    backdrop-filter: blur(50px);
    z-index: 1000;
    transition: all 0.3s ease;
}
.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    display: flex;
    align-items: center;
    gap: 25px;
}
.menu a{
    font-family: "Open Sans" sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 4%;
    color: #FFFFFF;
    position: relative;
    transition: all 0.3s ease;
    padding: 8px 0;
}

.menu a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #470711;
    transition: width 0.3s ease;
}
.menu a:hover {
    color: #470711;
}
        
.menu a:hover::after {
    width: 100%;
}


/* Bars icon */
.bars {
  display:none;
  flex-direction:column;
  gap:5px;
  cursor:pointer;
}
.bars span {
  width:25px;height:3px;
  background:#fff;
  display:block;
}

/* HERO */
.hero {
  background:#BB2339;
  padding:100px 0;
  color:#fff;
  position:relative;
}
.hero__container {
  display:flex;
  justify-content:space-between;
  align-items:center;
}
.hero___box h6{
    font-weight: 700;
    font-size: 23px;
    line-height: 130%;
    letter-spacing: 4%;
    color: #FFFFFF;
}
.hero___box h1{
    font-weight: 700;
    font-size: 50px;
    line-height: 100%;
    letter-spacing: 4%;
    color: #FFFFFF;
    max-width: 450px;
}
.hero___box p{
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 4%;
    color: #FFFFFF;
    margin-bottom: 25px;
    max-width: 450px;
}
.hero___box button {
    width: 175px;
    height: 44px;
}
.hero__image {
  position:relative;
  width:400px;
  height:300px;
  overflow:hidden;
  background-image: url(../img/set.svg);
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: 0 5px 50px rgb(226, 46, 85);
  border-radius: 50%;
}
.hero__image img {
  position:absolute;
  width:100%;height:100%;
  object-fit:contain;
  opacity:0;
  transition:opacity 1s;
}
.hero__image img.active {
  opacity:1;
}

/* Scroll yozuvi */
.scroll-text {
  position:absolute;
  bottom:20px;
  right:20px;
  font-size:16px;
  font-weight:500;
  animation:bounce 1.5s infinite;
}
@keyframes bounce {
  0%,100%{transform:translateY(0);}
  50%{transform:translateY(6px);}
}

/* RESPONSIVE------------------------------------------------------------- */
@media(max-width:768px) {
  .menu {
    position:absolute;
    top:70px; right:0;
    background:#BB2339;
    flex-direction:column;
    width:200px;
    display:none;
    padding:15px;
  }
  .menu.show {
    display:flex;
  }
  .bars {
    display:flex;
  }
  .header__container {
  display:flex;
  justify-content: center;
}
  .hero__container {
  display:flex;
  flex-direction: column;
  justify-content:space-between;
  align-items:center;
}
.hero___box p{
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 4%;
    color: #FFFFFF;
    margin-bottom: 25px;
    max-width: 400px;
}
.hero___box{
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
}
.hero__container {
  flex-direction: column;
  justify-content:center;
  align-items:center;
}
.scroll-text {
  position:absolute;
  bottom:20px;
  right:200px;
  font-size:16px;
  font-weight:500;
  animation:bounce 1.5s infinite;
}
}